body{
    background-color: rgb(255, 237, 196);
}
h1{
    font-size: 8rem;
    font-family: "Bricolage Grotesque", sans-serif;
    text-align: center;
    color: rgb(231, 187, 83);
    opacity: 0.8;
}

header {
    background-image:linear-gradient(
            to right,
            rgb(34, 10, 10) 0%,
            transparent 20%,
            transparent 80%,
            rgb(34, 10, 10) 100%
        ), url(kuvat/headertausta.jpg); 
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    border-radius: 70px;
    background-color: rgb(34, 10, 10);
    
}

button {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

button::before {
  margin-left: auto;
}

button::after, button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #827e20;
  display: block;
  transition: 0.5s;
}

button:hover::after, button:hover::before {
  width: 100%;
}


#lähetä {

    color: rgb(231, 187, 83);

}


.navigointi ul{
    
    display: flex;
    gap: 200px;
    justify-content: center;
    list-style: none;
    padding-top: 6rem;
    


}

.navigointi a {
    color: rgb(231, 187, 83);
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 20rem;
    justify-content: center;
    margin: 0 auto;
    font-size: 20px;
    color: rgb(231, 187, 83);
    background-color: rgba(34, 10, 10, 0.7);
    padding: 40px;
    border-radius: 40px;
    
   
    
}
textarea {
    resize: none;
}
input {
    border-radius: 5px;
}
input, textarea {
    border-radius: 5px;
}
.bio {
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    max-width: 40rem;
    margin: 0 auto;
    font-size: 20px;
}
form{
    margin-top: 30px;
}