body {
    background-color: #aa7d39;
    font-family: verdana, sans-serif;
    color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 150%;
}
h1 {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   margin-left: 1em;
   margin-right: 1em;
}

ul {
    list-style: none;
    background-color: #bd3600;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    
}

li {
    padding-left: 40px;
    padding-right: 40px;
}

