body {
    margin: 0;
    min-height: 100vh;
    background-color: aqua;
}

#Pääotsikko {
    text-align: center;
    margin: 0 auto;
}



footer {
    margin-top: auto;
}

/* TÄRKEÄ SEKTIO 1 KOROSTETTU REUNOILLA JA VÄRITETTY ERITAVALLA KUIN BODY */

.sektio1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 400px;
    background-color: rgb(249, 226, 198);
    font-size: 1rem;
    line-height: 1.6;
    border: 2px solid black;
    border-radius: 30px;
    }

.sektio2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
    max-width: 300px;
    font-size: 20px;
}

footer {
    text-align: center;
    
}

.korostettava {  
  font-style: oblique;  
  background-color: #fef3c7;  
  border-radius: 8px;  
  padding: 1rem;  
}  