.important {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
}

p {
    max-width: 300px;
  
}

#title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(162, 39, 2);
}

footer {
    background-color: blue;
}