.cardlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}

.cards {
    padding: 1rem;
    border: 1px solid black;
}

.featured {
    grid-column: span 2;
    background-color: bisque;
}

