
body {
    font-family: Arial, sans-serif;
    background-color: #ecf2f8;
    margin: 0;
    padding: 0;
}



/* HEADER */


h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}

header {
    background-color: #dcf7ff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* LOMAKE */

form{
   
    width: 450px;
    margin: 0 auto;
    
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f6f5f1;
    
}

input, label {
    width: 200px;
    align-self: center;
}

legend {
    margin-bottom: 25px;
    font-size: 1.5rem;
    text-align: center;
}

#nappi {
    margin-top: 30px;
    width: 130px;
    align-self: center;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(61, 1, 1, 0.3);
}

.lambu {
    text-align: center;
    img {
        width: 100px;
        height: auto;
        cursor: pointer;
        background-color: #ffdce8;
    }
}

#LomakeKentta.muokkaus {
    background-color: #fcfcfb;
    border: 2px solid #002ef9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    legend {
        color: #0000f9;
    }
}



/* OPPILASLISTA */

.Lista {
    margin-top: 110px;
    max-width: 100%;
   
}


.listaotsikko {
    text-align: center;
}

table {
    margin: 0 auto;
    width: calc(100% - 40px);
    margin: 0 20px;
    border-collapse: collapse;
    max-width: 100%;
    background-color: #f9f9f9;


}

th, td {
    border: 1px solid black;
    padding: 15px;
    overflow-wrap:anywhere;
}


/* ALATUNNISTE */

#alatunniste {

    text-align: center;
    font-size: small;
}

.muokkaaNappi {
    background-color: #f0f0f0;
    border: 1px solid #6b6a6a;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.poistaNappi {
    background-color: #f0f0f0;
    border: 1px solid #323131;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}





 