
body {
    margin: 0;
    min-height: 100vh;

    background: linear-gradient(
        135deg,
        #0b1f3a 0%,
        #174ea6 35%,
        #5b2c83 70%,
        #160b2e 100%
    );

    font-family: serif;
    color: white;
}


.card {
    position: relative;
    border: 1px double black;
    text-align: center;
    width: 500px;
    margin: 400px auto;
        background: linear-gradient(
        50deg,
        #0b1f3a 0%,
        #3b84f9 35%,
        #b05cfa 70%,
        #160b2e 100%
    );

    font-family: serif;
    color: rgb(247, 245, 245);
    transition: all 1s;
    -webkit-text-stroke: 1px rgb(181, 176, 176);
}




.badge {
    position:absolute;
    top: 10px;
    right: 10px;
    border: 2px dotted yellow;
    padding: 4px;
    
}